@font-face {
	font-family: Lato;
	font-weight: bold;
	src: local(Lato),
	     url(/fonts/Lato-Bold.woff2) format('woff2'),
	     url(/fonts/Lato-Bold.woff) format('woff');
}

@font-face {
	font-family: Lato;
	font-weight: normal;
	src: local(Lato),
	     url(/fonts/Lato-Regular.woff2) format('woff2'),
	     url(/fonts/Lato-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Neo Euler';
	src: local('Neo Euler'),
	     url(/fonts/euler.woff2) format('woff2'),
	     url(/fonts/euler.woff) format('woff');
}

@font-face {
	font-family: 'Noto Emoji';
	src: local('Noto Emoji'),
	     url(/fonts/NotoEmoji-Regular.woff2) format('woff2'),
	     url(/fonts/NotoEmoji-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans'),
	     url(/fonts/NotoSans-Regular.woff2) format('woff2'),
	     url(/fonts/NotoSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Source Code Pro';
	src: local('Source Code Pro'),
	     url(/fonts/SourceCodePro-Regular.woff2) format('woff2'),
	     url(/fonts/SourceCodePro-Regular.woff) format('woff');
}

html {
	font: 100%/1.5 'Noto Sans', sans-serif;
}

body, a {
	color: #111;
}

body {
	background-color: #fffff8;
}

footer, main {
	margin-left: auto;
	margin-right: auto;
	max-width: 33em;
}

footer {
	margin-top: 3em;
}

footer p:first-child {
	text-align: center;
}

nav, nav a {
	color: #fff;
}

nav {
	background-color: #832;
}

nav header, nav ul, nav li {
	display: inline-block;
}

nav header, nav li {
	margin-left: 1em;
}

nav a, nav a:focus, nav a:hover {
	text-decoration: none;
}

nav header {
	width: 9%;
}

nav ul {
	margin-left: 75%;
	padding-left: 0;
}

main {
	display: block;
}

h1, h2, h3, nav {
	font-family: Lato, sans-serif;
}

del {
	background-color: #faa;
}

ins, .link-img {
	text-decoration: none;
}

ins {
	background-color: #9f9;
}

@media (max-width: 767px) {
	nav ul, nav li {
		display: block;
	}
	
	nav ul {
		margin: 0;
		padding-bottom: 1em;
	}
}
