@font-face {
	font-display: swap;
	font-family: Lato;
	font-weight: bold;
	src: url(/fonts/Lato-Bold-0000.woff2) format('woff2');
	unicode-range: U+0-FF;
}

@font-face {
	font-display: swap;
	font-family: Lato;
	font-weight: bold;
	src: url(/fonts/Lato-Bold-0100.woff2) format('woff2');
	unicode-range: U+100-17F, U+FFFD;
}


@font-face {
	font-display: swap;
	font-family: Lato;
	font-weight: normal;
	src: url(/fonts/Lato-Regular-0000.woff2) format('woff2');
	unicode-range: U+0-FF;
}

@font-face {
	font-display: swap;
	font-family: Lato;
	font-weight: normal;
	src: url(/fonts/Lato-Regular-0100.woff2) format('woff2');
	unicode-range: U+100-17F, U+FFFD;
}

@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	src: url(/fonts/OpenSans-Regular-0000.woff2) format('woff2');
	unicode-range: U+0-FF;
}

@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	font-style: italic;
	src: url(/fonts/OpenSans-Italic-0000.woff2) format('woff2');
	unicode-range: U+0-FF;
}

@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	src: url(/fonts/OpenSans-Regular-0100.woff2) format('woff2');
	unicode-range: U+100-17F, U+FFFD;
}

@font-face {
	font-display: fallback;
	font-family: 'Open Sans';
	src: url(/fonts/OpenSans-Regular-0370.woff2) format('woff2');
	unicode-range: U+370-3FF;
}

@font-face {
	font-display: fallback;
	font-family: 'Noto Sans JP';
	src: url(/fonts/NotoSansJP-Regular-3040.woff2) format('woff2');
	unicode-range: U+3040-309F;
}

@font-face {
	font-display: fallback;
	font-family: 'Noto Sans JP';
	src: url(/fonts/NotoSansJP-Regular-4e00.woff2) format('woff2');
	unicode-range: U+4E00-4E1F;
}

@font-face {
	font-display: fallback;
	font-family: 'Noto Sans JP';
	src: url(/fonts/NotoSansJP-Regular-7400.woff2) format('woff2');
	unicode-range: U+7400-741F;
}

html {
	font: 100%/1.5 'Open Sans', 'Noto Sans JP', sans-serif;
}

body, a {
	color: #212121;
}

body {
	background:  url(/images/antelope.webp) no-repeat center 0 #fffde7;
	margin: 100px 0 0 0;
}

body > nav, body > nav ul {
	display: flex;
}

body > nav, body > nav a {
	color: #fff;
}

body > nav {
	background-color: #b71c1c;
	justify-content: space-between;
}

body > nav header, body > nav li {
	align-self: center;
	margin-left: 1em;
}

body > nav ul {
	margin-right: 1em;
	padding-left: 0;
}

body > nav li {
	list-style: none;
}

footer, main, p > img, p > a > img {
	margin-left: auto;
	margin-right: auto;
}

footer, main {
	max-width: 33em;
	padding: .5em;
}

main, p > img, p > a > img {
	display: block;
}

aside {
	font-style: italic;
	padding-left: .5em;
}

h1, h2, h3, nav {
	font-family: Lato, sans-serif;
}

del {
	background-color: #faa;
}

ins, .link-img {
	text-decoration: none;
}

ins {
	background-color: #9f9;
}

@media (max-width: 767px) {
	nav, nav ul {
		display: block;
	}

	nav header, aside {
		display: inline-flex;
	}
	
	nav ul {
		margin: 0;
		padding-bottom: 1em;
	}

	li {
		padding: .5em 0;
	}

	dd aside {
		margin-top: .5em;
	}
	
	dd img {
		margin-left: -40px;
	}
}
