<!DOCTYPE html>
<html lang=en-x-amn>
	<meta charset=utf-8>
	<meta name=viewport content="initial-scale=1, width=device-width">
	<link rel=stylesheet href=/css/maja.css>
	<link rel=canonical href={{ site.url }}{{ page.url }}>
	<title>{% if page.title %}{{ page.title }} – {% endif %}Homepage of Adrian Nowicki</title>
	<nav>
		<header>
			<h1>{% if page.title %}{{ page.title }}{% else %}Homepage of Adrian Nowicki{% endif %}</h1>
		</header>
		<ul>
		{% for page in site.pages %}	<li><a href={{ page.url }}>{{ page.title }}</a>
		{% endfor %}</ul>
	</nav>
	<main>
{{ content }}	</main>
	<footer>
		<p>
			<a class=link-img rel=license
			   href=//creativecommons.org/publicdomain/zero/1.0/>
				<img src=/images/cc0.png alt=CC0>
			</a>
	  	<p>
			To the extent possible under law,
			<a rel=dc:publisher
			   href=https://adinowicki.github.io>
				<span property=dc:title>Adrian Nowicki</span></a>
			has waived all copyright and related or neighboring rights to
			<span property=dc:title>Homepage of Adrian Nowicki</span>.
			This work is published from:
			<span property=vcard:Country datatype=dc:ISO3166
			      content=PL about=https://adinowicki.github.io>
			Poland</span>.
	</footer>
